@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap");

:root {
  --Softblue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --Verydarkblue-mainBG: hsl(217, 54%, 11%);
  --Verydarkblue-cardBG: hsl(216, 50%, 16%);
  --Verydarkblue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Outfit;
  font-size: 1.125em;
  background-color: var(--Verydarkblue-mainBG);
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.container-card {
  width: 350px;
  height: 610px;
  border-radius: 10px;
  background-color: var(--Verydarkblue-cardBG);
}
.container-card {
  position: relative;
}
.container-card img {
  position: relative;
  width: 88%;
  border-radius: 10px;
  margin: 20px 20px 0 20px;
}
.container-card .overlay {
  position: absolute;
  top: 18px;
  left: 19px;
  background-color: hsla(178, 100%, 60%, 0.44);
  width: 88%;
  height: 51%;
  z-index: 999;
  border-radius: 10px;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eye {
  position: absolute;
  left: 98px;
}
.container-card .overlay:hover {
  cursor: pointer;
  opacity: 1;
}

.container-text {
  margin-left: 20px;
}
.container-text .titre {
  color: var(--White);
  font-weight: 700;
  margin: 20px 0 20px 0;
}
.container-text .titre:hover {
  cursor: pointer;
  color: var(--Cyan);
}
.container-text p {
  color: var(--Softblue);
  font-weight: 300;
}

.container-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Cyan);
  margin-top: 15px;
  margin-right: 20px;
}

.container-price .ether img {
  width: 15px;
}
.container-price .ether span {
  text-align: center;
  position: relative;
  top: -5px;
  left: -15px;
}

.container-price .clock img {
  width: 20px;
}

.container-price .clock span {
  text-align: center;
  position: relative;
  top: -4px;
  left: -18px;
  color: var(--Softblue);
}

.line {
  background-color: var(--Verydarkblue-line);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 88%;
  height: 1px;
  margin: 20px 20px 0 20px;
}

.container-creation {
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--Softblue);
  margin-top: 10px;
}

.container-creation img {
  width: 40px;
  position: relative;
  top: -10px;
  border: 1px solid white;
  border-radius: 50%;
}
.container-creation span {
  color: var(--White);
}
.container-creation span:hover {
  cursor: pointer;
  color: var(--Cyan);
}
